@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: hsl(0, 0%, 98%);
}

.bg-image {
    background-image: url(img/bg-mobile-light.jpg);
    background-repeat: no-repeat;
}

.header {
    padding: 2.5em 2em 10em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.hero {
    color: hsl(0, 0%, 98%);
    text-transform: uppercase;
    letter-spacing: .4em;
    font-size: 1.4em;
}


.theme-switcher {
    appearance: none;
    background: none;
    border: none;

}
.container {
    padding: 0em 2em;
    position: absolute; 
    z-index: 1;
    top: 6em;
    width: 100%;
    /* max-width: 500px; */
}

.create-todo {
    width: 100%;
    padding: 1em 0;
    border-radius: 3px;
    border: none;
}

.create-todo:focus {
    outline: none;
}

.circle {
    display: inline-block;
    width: 20px;
    height:20px;
    border-radius: 50px;
    position: relative;
    top: 2.1em;
    left: .6em;
    border: 1px solid hsl(236, 33%, 92%);
}

input[placeholder] {
    padding-left: 3em;
    font-family: inherit;
}

.todo {
    list-style: none;
    width: 100%;
    background-color: #ffff;
    margin-top: 1em;
    border-radius: 5px;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    width:100%;
    /* position: relative; */
    padding: 1rem 1rem;
    width: 100%;
    border-bottom: 1px solid hsl(236, 33%, 92%);
}

.check-container {
    min-width: 20px;
    height: 20px;
    border-radius: 100%; 
    border: 1px solid hsl(233, 14%, 35%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.check-container .check-box {
    transform: scale(1.7); 
    opacity: 0; 
}

 .check {
    transform: scale(1.6);
    position: absolute;
    left: .21em;
    top: .25em;
    bottom: 0em;
    right: 0em;
    width: 12px;
    height: 12px;
    pointer-events: none;
    border-radius: inherit;
} 

.check-container .check-box:checked + .check {
    background-image : url('img/icon-check.svg'), linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    background-repeat: no-repeat;
    background-position: center;
}



.todo-text {
    width: 100%;
    font-size: .8em;
}

.strike-through {
    text-decoration:line-through;
    color: hsl(236, 9%, 61%);
}

/* .cross {
    position: absolute;
    right: 0.5em;
    top: 1.8em;
    width: 13px;
} */

.item-clear {
    padding: 1em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffff;
}

.items-left {
    color: hsl(236, 9%, 61%);
    font-size: .8em;
}

.clear {
    border: none;
    color: hsl(236, 9%, 61%);
    background-color: none;
    background: none;
    font-family: inherit;
    text-decoration:none;
    font-size: .8em;
}


.modifier {
    background-color: #ffff;
    margin-top: 1em;
    padding: .5em 0em .5em;
}

.show {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.btn {
    background: none;
    display: block;
    border: none;
    color: hsl(236, 9%, 61%);
    background-color: none;
    font-family: inherit;
    padding: 1em 0 1em;
    text-decoration: none;
    font-size: .9em;
    cursor: pointer;
}

.btn_blue {
    color: hsl(220, 98%, 61%);
}

footer {
    margin-top: 3em;
}

.drag {
    text-align: center;
    color: hsl(236, 9%, 61%);
    font-size: .8em;
}


/* Dark mode */


 .body_dark {
    background-color: hsl(235, 21%, 11%);
}

.bg-image_dark {
    background-image: url(img/bg-mobile-dark.jpg);
    background-repeat: no-repeat;

}

.container_dark .create-todo {
    background-color: hsl(235, 24%, 19%);
    color: hsl(234, 39%, 85%);
}

.container_dark .todo {
    background-color: hsl(235, 24%, 19%);
}

.container_dark .todo-item {
    border: 1px solid hsl(237, 14%, 26%);
}

.container_dark .radio {
    border: 1px solid hsl(237, 14%, 26%);
}

.todo-dark .todo-text {
    color: hsl(234, 39%, 85%);
}

.item-clear_dark {
    background-color: hsl(235, 24%, 19%);
}

.item-clear_dark > * {
    color: hsl(234, 11%, 52%)
}
  
.modifier-dark {
    background-color: hsl(235, 24%, 19%); ;
}

.modifier-dark .active,
.modifier-dark .active {
    color: hsl(234, 11%, 52%);
}


/* media queries */

@media for (min-width: 400px) {
    
}